.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 5px 10px;
  font-family: "poppins";
  font-size: 12px;
}
.documentTitle {
  display: flex;
  flex-direction: column;
}
.documentTitle input {
  border: none;
  font-size: 24px;
}
.documentDetails {
  display: flex;
  flex-direction: column;
}

.documentDetails div {
  padding: 2.5px;
}
