.appContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.appSubContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media screen and (max-device-width: 720px) {
  .appSubContainer {
    flex-direction: column;
  }
}
